/*
Style Sheet for TicTacToe Application
 */
.button{
    -fx-text-fill: white;
    -fx-background-radius: 0;
    /*-fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;*/
    -fx-background-color: white/*linear-gradient(#61a2b1, #2A5058)*/;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 )*/;
    -fx-boder-color: white;
}

.text-field, .password-field{
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-background-color: white;
}

.hyperlink {
    -fx-underline: false;
    -fx-text-fill: gray;
}

.hyperlink:hover {
    -fx-underline: true;
}

.reset {
    -fx-background-color: black;
}

.root {
    -fx-background-color: white;
}

#btn0 {
    -fx-border-color: white black black white;
}
#btn1 {
    -fx-border-color: white black black black;
}
#btn2 {
    -fx-border-color: white white black black;
}
#btn3 {
    -fx-border-color: black black black white;
}
#btn4 {
    -fx-border-color: black;
}
#btn5 {
    -fx-border-color: black white black black;
}
#btn6 {
    -fx-border-color: black black white white;
}
#btn7 {
    -fx-border-color: black black white black;
}
#btn8 {
    -fx-border-color: black white white black;
}
